<!-- Display any errors with form -->
<% if @quote.errors.any? %>
    <% @quote.errors.full_messages.each do |error| %>
        <p><%= error %></p>
    <% end %>
<% end %>

<%= form_with model: quote, local: true do |form| %>

    <%= form.hidden_field :listing_id, value: params[:listing] %>
    <%= form.hidden_field :printer_id, value: Printer.find_by_user_id(current_user.id).id%> 
    <%= form.hidden_field :has_job, value: "0" %>   

    <div>

        <%= form.label :total_price %>
        <%= form.number_field :total_price, min: 0 %>
    </div>

    <div>
        <%= form.label :job_size %>
        <%= form.text_field :job_size %>
    </div>

    <div>
        <%= form.label :turnaround_time %>
        <%= form.date_field :turnaround_time %>
    </div>

   


    <div>
        <%= form.submit %>
    </div>
<% end %>