<%= form_with model: quote, local: true do |form| %>
    <p> This is listing <%=params[:listing]%> </p>
    <div>

        <%= form.label :total_price %>
        <%= form.number_field :total_price, value: number_to_currency(form.object.total_price.to_f, delimiter: '', unit: ''), step: :any, min: 5 %>
    </div>

    <div>
        <%= form.label :job_size %>
        <%= form.text_field :job_size %>
    </div>

    <div>
        <%= form.label :turnaround_time %>
        <%= form.date_field :turnaround_time %>
    </div>

    <%= form.hidden_field :listing_id, value: params[:listing]%>
    <%= form.hidden_field :printer_id, value: current_user.id %>

    <div>
        <%= form.submit %>
    </div>
<% end %>