<%= form_with model: quote, local: true do |form| %>

    <div>
        <%= form.label :total_price %>
        <%= form.text_field :total_price %>
    </div>

    <div>
        <%= form.label :job_size %>
        <%= form.text_field :job_size %>
    </div>

    <div>
        <%= form.label :turnaround_time %>
        <%= form.date_field :turnaround_time %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>