<main class="container-fluid">
    <div class="row">
    
        <%= render "pages/sidebar" %>

      <!-- start of main content -->
        <div class="col-sm-9">
            <h1 class="h1 page-header">View Quotes for this Listing</h1>

            <%if @quotes_for_listing.count == 0 %>
                
                <%if current_user.user_type == "designer"%>

                    <p class="subtitle">There are no quotes attached to this listing.</p>

                <% else %>
                    <p class="subtitle">You have no quotes attached to this listing.</p>

                <div class="col-md-12 hidden-sm-up">
                    <%= link_to 'Back to Listings', listings_path, class: "button_link" %>
                </div>

                <%end%>
            
            <div class="col-md-12 hidden-sm-up">
                <%= link_to 'Back to Dashboard', dashboard_path, class: "button_link" %>
            </div>

        <%end%>

        <% @quotes_for_listing.each do |quote| %>
                <div class="row card">
                        <div class="col-md-6">
                            <p>Quote Id. <span class="data"><%= quote.id %></span></p>
                            <p>Printer Id. <span class="data"><%= quote.printer_id %></span></p>
                            <p>Total Price: <span class="data">$<%= number_with_precision(quote.total_price, precision: 2) %></span></p>
                        </div>
                        <div class="col-md-3">

                            <!-- Only show edit link for printers --> 
                            <%if current_user.user_type == "printer"%>
                                <%= link_to "Edit Quote", edit_quote_path(quote.id), class: "button_link" %>
                            <%end%>
                                <%= link_to "View Quote",quote_path(quote.id), class: "button_link" %>
                            </div>
                    </div>
        <%end%>



        </div>
        <!-- end of main content -->
    </div>
</main>