<main class="container-fluid">
    <div class="row">
    
        <%= render "pages/sidebar" %>

        <!-- start of main content -->
        <div class="col-sm-9">
            <h1 class="h1 page-header"> My Quotes </h1>

            <!-- Display no quotes message -->
            <%if @amount_of_user_quotes == 0%>

                <p class="subtitle">You don't have any quotes at the moment.</p>

            <%end%>

            <h2 class="h2"> Open Quotes </h2>

            <!-- if the quote has a job, DO NOT display it here -->
            <%@open_quotes.each do |quote| %>

                <div class="row card">
                    <div class="col-md-6">
                        <% if current_user.user_type == "designer" %>
                            <p>Printer Name: <span class="data"><%= "#{quote.printer.user.first_name} #{quote.printer.user.last_name}" %></span></p>
                        <% else %>
                            <p>Designer Name:<span class="data"><%= "#{quote.listing.user.first_name} #{quote.listing.user.last_name}" %></span></p>
                        <% end %>
                        <p>Quote Id: <span class="data"><%= quote.id %></span></p>
                        <p>Printer Id: <span class="data"><%= quote.printer_id %></span></p>
                        <p>Printer Postcode: <span class="data"><%=quote.printer.user.postcode%></span><p>
                        <p>Total Price: <span class="data">$<%= number_with_precision(quote.total_price, precision: 2) %></span></p>
                    </div>
                    <%if current_user.user_type == "printer"%>                    
                    <div class="col-md-3">
                        <a class="button_link" href="<%= edit_quote_path(quote.id) %>">
                            Edit
                        </a>
                    </div>
                    <% end %>
                    <div class="col-md-3">
                        <a class="button_link" href="<%= quote_path(quote.id) %>">
                            View Quote
                        </a>
                    </div>
                    <%@amount_of_user_quotes += 1%>
                </div>

            <%end%>

            <h2 class="h2"> Past Quotes </h2>

            <!-- if the quote has a job, DO display it here -->
            <%@past_quotes.each do |quote|%>

                <div class="row card">
                    <div class="col-md-6">
                        <% if current_user.user_type == "designer" %>
                            <p>Printer Name: <span class="data"><%= "#{quote.printer.user.first_name} #{quote.printer.user.last_name}" %></span></p>
                        <% else %>
                            <p>Designer Name:<span class="data"><%= "#{quote.listing.user.first_name} #{quote.listing.user.last_name}" %></span></p>
                        <% end %>
                        <p>Quote Id: <span class="data"><%= quote.id %></span></p>
                        <p>Printer Id: <span class="data"><%= quote.printer_id %></span></p>
                        <p>Printer Postcode: <span class="data"><%=quote.printer.user.postcode%></span><p>
                        <p>Total Price: <span class="data">$<%= number_with_precision(quote.total_price, precision: 2) %></span></p>
                    </div>
                    
                    <%if current_user.user_type == "printer"%>
                        <div class="col-md-3">    
                            <%= link_to "Edit", edit_quote_path(quote.id), class: "button_link" %>
                        </div>
                    <% end %>
                    <div class="col-md-3">
                        <%= link_to "View Quote",quote_path(quote.id), class: "button_link" %>
                    </div>
                    <div class="col-md-3">
                        <%= link_to "Go To Job", job_path(Job.find_by_quote_id(quote.id)), class: "button_link"%>
                    </div>
                    
                    <%@amount_of_user_quotes += 1%>
                </div>

            <%end%>

            <div class="col-md-12 hidden-sm-up">
                <%= link_to 'Back to Dashboard', dashboard_path, class: "button_link" %>
            </div>
        </div>
        <!-- end of main content -->
    </div>
</main>