<main class="container-fluid">
        <div class="row">
        
            <%= render "pages/sidebar" %>
    
            <!-- start of main content -->
            <div class="col-sm-9">
                <h1 class="h1 page-header"> Quote id. <%= @quote.id %></h1>

                <div class="row card">
                    <div class="col-md-6">
                        <p>Printer id. <%= @quote.printer_id %></p>
                        <p>Printer Postcode: <%=@quote.printer.user.postcode%><p>
                        <p>Listing id. <%= @quote.listing_id %></p>
                        <p>Total Price: $<%= number_with_precision(@quote.total_price, precision: 2) %></p>
                        <p>Job Size (cubic cm): <%= @quote.job_size %></p>
                        <p>Turnaround Time: <%= @quote.turnaround_time %></p>
                    </div>

                    <!-- Only printers can edit quotes -->
                    <%if current_user.user_type == "printer"%>
                        <div class="col-md-3">
                            <%= link_to "Edit", edit_quote_path(@quote.id), class: "button_link" %>
                        </div>    
                    <% end %>

                    <!-- Check if user is a designer and the job hasn't already been accepted -->
                    <%if current_user.user_type == "designer" and @past_quotes.include?(Quote.find(@quote.id)) == false%>
                        <div class="col-md-3">
                            <button id="stripePayment" class="button_link"> Accept Quote $<%= number_with_precision(@quote.total_price, precision: 2) %></button>
                        </div>    
                    <% end %>

                </div>
                <div class="col-md-3 hidden-xs">
                    <%= link_to 'Back to My Quotes', my_quotes_path, class: "button_link" %>
                </div>
                <%= javascript_include_tag "payment_button" %>
                <div class="col-md-12 hidden-sm-up">
                    <%= link_to 'Back to Listings', listings_path, class: "button_link" %>
                </div>
                <div class="col-md-12 hidden-sm-up">
                    <%= link_to 'Back to My Quotes', my_quotes_path, class: "button_link" %>
                </div>
                <div class="col-md-12 hidden-sm-up">
                    <%= link_to 'Back to Dashboard', dashboard_path, class: "button_link" %>
                </div>
                
        </div>
        <!-- end of main content -->
    </div>
</main>

<script>
    document.getElementById("stripePayment").addEventListener("click", function() {
        var stripe = Stripe('<%= Rails.application.credentials.dig(:stripe, :public) %>');
    
        stripe.redirectToCheckout({
            sessionId: '<%= @stripe_session_id %>',
            }).then(function (result) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer
            // using `result.error.message`.
        });
    
    });
</script>

