<%if current_user.user_type == "designer"%>
    <h1>My Listings</h1>
<%else%>
    <h1>All Listings</h1>
<%end%>

<% if current_user.user_type == "designer" %>

    <!--Display message if there are no listings for the user -->
    <%if Listing.find_by_user_id(current_user.id) == nil %>
        <p> It looks like you don't have any listings currently. </p>
    <%end%>
    
    <%=link_to "Create new listing", new_listing_path%>
<% end %>

<%= link_to 'Back to dashboard', dashboard_path%>

<!-- Display listings if they exist -->
<%@listings.each do |listing|%>
    <div class="card">
        <p>Listing ID: <%=listing.id%> </p>
        <p>Description: <%=listing.description%> </p>
        <p>Budget: $<%= number_with_precision(listing.budget, precision: 2)%> </p>
        <p>Due date: <%=listing.due_date%> </p>
        <p>Created at: <%=listing.created_at.to_time.strftime('%A, %d %b %Y')%> 
        <br> <br>
        <!-- Only designers can edit listings -->
        <%=link_to "Edit", edit_listing_path(listing.id) if current_user.user_type == "designer"%>
        <%=link_to "Show", listing_path(listing.id)%>
    </div>

    <%# <p>Due date: <%=listing.due_date.to_time.strftime('%A, %d %b %Y')%>
    <%#<p>Created at: <%=listing.created_at.to_time.strftime('%A, %d %b %Y')%> 

<%end%>