<main class="container-fluid">
    <div class="row">
    
        <%= render "pages/sidebar" %>

        <!-- start of main content -->
        <div class="col-sm-9">

            <%if current_user.user_type == "designer"%>
                <h1 class="h1 page-header">My Listings</h1>
            <%else%>
                <h1 class="h1 page-header">All Listings</h1>
            <%end%>

            <div class="row">
                <% if current_user.user_type == "designer" %>

                    <!--Display message if there are no listings for the user -->
                    <%if Listing.find_by_user_id(current_user.id) == nil %>
                        <p class="subtitle"> It looks like you don't have any listings currently. </p>
                    <%end%>
                    
                    <div class="col-md-12">
                        <a class="button_link" href="<%= new_listing_path %>">
                            Create New Listing <i class="fas fa-arrow-right"></i>
                        </a>
                    </div> 
                <% end %>
            </div>

            <!-- Display listings if they exist and don't already have a job-->
            <%@listings.each do |listing|%>

            <%if listing.has_job == false%>
                <div class="row card">
                    <div class="col-md-6">
                        <% if current_user.user_type == "printer" %>
                            <p>Designer Name: <span class="data"><%= "#{listing.user.first_name} #{listing.user.last_name}" %></span></p>
                        <%end%>
                        <p>Listing Id. <span class="data"><%=listing.id%></span> </p>
                        <p><span class="data"><%= listing.created_at.to_time.strftime('%A, %d %b %Y') %></span> </p>
                        <p>Description: <span class="data"><%=listing.description%></span> </p>
                    </div>
                    <!-- Only designers can edit listings -->
                    <% if current_user.user_type == "designer" %>
                        <div class="col-md-3">
                            <%= link_to "Edit Listing", edit_listing_path(listing.id), class: "button_link" %>
                        </div>
                    <%end%>
                    <div class="col-md-3">
                        <%= link_to "View Listing", listing_path(listing.id), class: "button_link" %>
                    </div>
                </div>

            <%end%>

                <%# <p>Due date: <%=listing.due_date.to_time.strftime('%A, %d %b %Y')%>
                <%#<p>Created at: <%=listing.created_at.to_time.strftime('%A, %d %b %Y')%> 

            <%end%>
        </div>
        <!-- end of main content -->
    </div>
</main>