<h1> Listing id: <%= @listing.id %></h1>

<div class="card">
        <p>Listing ID: <%= @listing.id %> </p>
        <p>Description: <%= @listing.description %> </p>
        <p>Budget: $<%= number_with_precision(@listing.budget, precision: 2) %> </p>
        <p>Due date: <%= @listing.due_date %> </p>
        <p>Created at: <%= @listing.created_at.to_time.strftime('%A, %d %b %Y') %> </p>
        <%= image_tag url_for(@listing.design_file) if @listing.design_file.attached? %>
        <%= link_to @listing.design_file.filename, rails_blob_path(@listing.design_file, disposition: "attachment") if @listing.design_file.attached? %>
        <%=link_to "Edit", edit_listing_path(@listing.id) if current_user.user_type == "designer"%>
        <%=link_to "Back", listings_path%>

        <%if current_user.user_type == "printer"%>
                <%=link_to "Create Quote", new_quote_path(listing: @listing.id)%>
        <%end%>
        
        
        <%=link_to "View Quotes", quotes_path(listing: @listing)%>
</div>