<h1> Listing id: <%= @listing.id %></h1>

<div class="card">
        <p>Listing ID: <%= @listing.id %> </p>
        <p>Description: <%= @listing.description %> </p>
        <p>Budget: $<%= number_with_precision(@listing.budget, precision: 2) %> </p>
        <p>Due date: <%= @listing.due_date %> </p>
        <p>Created at: <%= @listing.created_at.to_time.strftime('%A, %d %b %Y') %> </p>
        <%= link_to "Edit", edit_listing_path(@listing.id) %>
        <%= link_to "Back", listings_path %>
    </div>