<main class="container-fluid">
    <div class="row">
    
        <%= render "pages/sidebar" %>

        <!-- start of main content -->
        <div class="col-sm-9">

            <h1 class="h1 page-header"> Job Id. <%= @job.id %></h1>


            <div class="row card">
                <div class="col-md-6">
                    <% if @job.status == false %>
                        <p>Status: <span class="active data">Active</span></p>
                    <% else %>
                        <p>Status: <span class="completed data">Completed</span></p>
                    <% end %>
                    <p>Listing Id. <span class="data"><%= @job.listing_id %></span></p>
                    <p>Designer Name: <span class="data"><%= "#{@job.listing.user.first_name} #{@job.listing.user.last_name}" %></span></p>
                    <p>Description: <span class="data"><%= @job.listing.description %></span></p>
                    <p>Total Price: <span class="data">$<%= number_with_precision(@job.quote.total_price, precision: 2) %></span>
                    <p>Job Size (cubic cm): <span class="data"><%= @job.quote.job_size %></span></p>
                    <p>Turnaround Time: <span class="data"><%= @job.quote.turnaround_time.to_time.strftime('%A, %d %b %Y %H:%M') %></span></p>
                    <p>Created at: <span class="data"><%= @job.created_at.to_time.strftime('%A, %d %b %Y %H:%M') %></span></p>
                    <p>Completed at: 
                        <% if @job.status %>
                        <span class="data"><%= @job.updated_at.to_time.strftime('%A, %d %b %Y %H:%M') %></span>
                        <% end %>
                    </p>
                    <p>Quote Id. <span class="data"><%= @job.quote_id %></span></p>
                    <p>Printer Name: <span class="data"><%= "#{@job.printer.user.first_name} #{@job.printer.user.last_name}" %></span></p>
                    <p>Printer Id. <span class="data"><%= @job.printer.id %></span></p>
                    <p>ABN: <span class="data"><%= @job.printer.abn %></span></p>
                    <p>Printer Model: <span class="data"><%= @job.printer.printer_model %></span></p>
                </div>

                <!-- Printer can click on Completed Job button to show job as completed
                    Change status column to True
                    Add timestamp to completed_at column
                -->
                <div class="col-md-3">
                    <% if current_user.user_type == "printer" && @job.status == false %>
                        <%= form_for :job do |form| %>
                            <%= form.hidden_field :status, value: true %>
                            <%= form.hidden_field :completed_at, value: Time.now %>
                            <%= form.submit 'Mark Job As Complete', class: 'button_link' %>
                        <% end %>
                    <% end %>
                </div>
                
                
            </div>
            <div class="col-md-3 hidden-xs">
                <%= link_to 'Back to Jobs', jobs_path, class: "button_link" %>
            </div>
            <div class="col-md-12 hidden-sm-up">
                <%= link_to 'Back to Jobs', jobs_path, class: "button_link" %>
            </div>
            <div class="col-md-12 hidden-sm-up">
                <%= link_to 'Back to Dashboard', dashboard_path, class: "button_link" %>
            </div>
            <div class="col-md-12 hidden-sm-up">
                <%= link_to 'Back to My Quotes', my_quotes_path, class: "button_link" %>
            </div>
        </div>
        <!-- end of main content -->
    </div>
</main>