
<div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
        
        <div class="howItWorks_image"></div>
        <h3><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}"%></h3>
        <ul class="nav nav-pills nav-stacked">
            <li><a href="<% dashboard_path %>">Dashboard</a></li>
            <li><a href="<% listings_path %>">View My Listings</a></li>
            <li><a href="<% my_quotes_path(@user_id) %>">View My Quotes</a></li>
            <li><a href="<% jobs_path %>">View My Jobs</a></li>
        </ul>
    </div>
</div>
<h1><%=current_user.user_type.capitalize%> Dashboard</h1>

<!--What the designer sees -->

<%if current_user.user_type == "designer"%>
    <div class="card">
        <%=link_to "View My Listings", listings_path%>
        <%=link_to "Create New Listing", new_listing_path%>
    </div>

    <div class="card">
       <%=link_to "View My Quotes", my_quotes_path(@user_id)%>
   </div>

<!--What the printer sees -->
<%else%>

    <div class="card">
       <%=link_to "View All Listings", listings_path%>
   </div>

   <div class="card">
       <%=link_to "View My Quotes", my_quotes_path(@user_id)%>
   </div>
        
    
<%end%>
