<main class="container-fluid">
    <div class="row">

        <!-- start of sidebar -->
        <div class="col-sm-3 hidden-sm-down sidebar">
            <div class="user_avatar">
                <%if current_user.user_type == "designer"%>
                    <div class="howItWorks_image">
                        <%= image_tag "Designer-Avatar.png", alt: "Designer Avatar", class: "img-responsive img-circle" %>
                    </div>
                <% else %>
                    <div class="howItWorks_image">
                        <%= image_tag "Printer-Avatar.png", alt: "Printer Avatar", class: "img-responsive img-circle" %>
                    </div>
                <% end %>
                <h3><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}"%></h3>
            </div>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="<%= dashboard_path %>">Dashboard</a></li>
                    <li><a href="<%= listings_path %>">View My Listings</a></li>
                    <li><a href="<%= my_quotes_path(@user_id) %>">View My Quotes</a></li>
                    <li><a href="<%= jobs_path %>">View My Jobs</a></li>
                </ul>
            
        </div>
        <!-- end of sidebar -->
        
        <!-- start of main content -->
        <div class="col-sm-9">
            <h1 class="page-header"><%=current_user.user_type.capitalize%> Dashboard</h1>

            <h2><%="Hi, #{current_user.first_name.capitalize}"%></h2>

        
            <!--What the designer sees -->
            
            <%if current_user.user_type == "designer"%>
                <div class="col-md-12">
                    <a class="button_link" href="<%= new_listing_path %>">
                        Create New Listing <i class="fas fa-arrow-right"></i>
                    </a>
                </div>    
                <div class="my_summary">
                    <h3>My Jobs Summary</h3>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 summary">
                            <h3><%= Listing.where(user_id: @user_id).count %></h3>
                            <p>Active Listings</p>
                        </div>
                        <div class="col-xs-4 col-sm-4 summary">
                            <h3><%= Quote.joins(:listing).where(listings: {user_id: @user_id}).count %></h3>
                            <p>Quotes</p>
                        </div>
                        <div class="col-xs-4  col-sm-4 summary">
                            <h3><%= Job.joins(:listing).where(listings: {user_id: @user_id}).where(jobs: {status: true}).count %></h3>
                            <p>Completed Jobs</p>
                        </div>

                    </div>
                </div>
                
                <div class="col-md-12 hidden-sm-up">
                    <a class="button_link" href="<%= listings_path %>">
                        View My Listings <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-md-12 hidden-sm-up">
                    <a class="col-md-12 hidden-sm-up button_link" href="<%= my_quotes_path(@user_id) %>">
                        View My Quotes <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-md-12 hidden-sm-up">
                    <a class="button_link" href="<%= jobs_path %>">
                        View My Jobs <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            
            <!--What the printer sees -->
            <%else%>
            
                <div class="card">
                    <%=link_to "View All Listings", listings_path%>
                </div>
            
                <div class="card">
                    <%=link_to "View My Quotes", my_quotes_path(@user_id)%>
                </div>
                    
                
            <%end%>
        </div>
        <!-- end of main content -->
    </div>
</main>

