<main class="container-fluid">
    <div class="row">

        <%= render "pages/sidebar" %>
        
        <!-- start of main content -->
        <div class="col-sm-9">
            <!-- <%= render "shared/notice" %> -->
            <h1 class="h1 page-header"><%=current_user.user_type.capitalize%> Dashboard</h1>

            <h2><%="Hi, #{current_user.first_name.capitalize}"%></h2>

        
            <!--What the designer sees -->
            
            <%if current_user.user_type == "designer"%>
                <div class="col-md-12">
                    <a class="button_link" href="<%= new_listing_path %>">
                        Create New Listing <i class="fas fa-arrow-right"></i>
                    </a>
                </div>    
                <div class="my_summary">
                    <h3>My Jobs Summary</h3>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 summary">
                            <a href="<%= listings_path %>">
                                <h3><%= Listing.where(user_id: @user_id).count %></h3>
                                <p>Active Listings</p>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-4 summary">
                            <a href="<%= my_quotes_path(@user_id) %>">
                                <h3><%= Quote.joins(:listing).where(listings: {user_id: @user_id}).count %></h3>
                                <p>Quotes</p>
                            </a>
                        </div>
                        <div class="col-xs-4  col-sm-4 summary">
                            <a href="<%= jobs_path %>">
                                <h3><%= Job.joins(:listing).where(listings: {user_id: @user_id}).where(jobs: {status: true}).count %></h3>
                                <p>Completed Jobs</p>
                            </a>
                        </div>

                    </div>
                </div>
            
            <!--What the printer sees -->
            <%else%>
                <div class="my_summary">
                    <h3>My Jobs Summary</h3>
                    <div class="row">
                        <div class="col-xs-4 col-sm-4 summary">
                            <a href="<%= listings_path %>">
                                <h3><%= Listing.all.count %></h3>
                                <p>Listings</p>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-4 summary">
                            <a href="<%= my_quotes_path(@user_id) %>">
                                <h3><%= Quote.joins(:printer).where(printers: {user_id: @user_id}).count %></h3>
                                <p>Quotes</p>
                            </a>
                        </div>
                        <div class="col-xs-4  col-sm-4 summary">
                            <a href="<%= jobs_path %>">
                                <h3><%= Job.joins(:listing).where(listings: {user_id: @user_id}).where(jobs: {status: true}).count %></h3>
                                <p>Completed Jobs</p>
                            </a>
                        </div>

                    </div>
                </div>
            <%end%>

            <div class="col-md-12 hidden-sm-up">
                <% if current_user.user_type == "designer" %>
                    <a class="button_link" href="<%= listings_path %>">
                        View My Listings <i class="fas fa-arrow-right"></i>
                    </a>
                <% else %>
                    <a class="button_link" href="<%= listings_path %>">
                        View All Listings <i class="fas fa-arrow-right"></i>
                    </a>
                <% end %>
            </div>
            <div class="col-md-12 hidden-sm-up">
                <a class="col-md-12 hidden-sm-up button_link" href="<%= my_quotes_path(@user_id) %>">
                    View My Quotes <i class="fas fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-md-12 hidden-sm-up">
                <a class="button_link" href="<%= jobs_path %>">
                    View My Jobs <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
        <!-- end of main content -->
    </div>
</main>

